
body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
}

.logo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
}

.links {
  font-size: 18px;
  color: #00b594;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.links:hover {
  color: #02866e;
  text-decoration: none;
}

p {
  font-size: 18px;
  color: rgb(7, 27, 40);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 720px;
  padding-top: 20px;
  margin: auto;
}

body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.hero-image {
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  height: 800px;
}

footer {
  background-color: #00b594;
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 40px;
  margin-top: 40px;
}

.email-label {
  font-size: 25px;
  line-height: 2em;
}

.email-input {
  border: none;
}

.btn-green {
  background-color: #02866e;
  color: #fff; 
}

.btn-green:hover {
  background: #016754;
  color: #fff;
}

button {
  display: inline-block;
}